@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "tailwindcss";

html, :host {
  --default-font-family: 'Poppins', sans-serif;
  font-family: var(--default-font-family);
}


.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}